@{
    ViewData["Title"] = "Osoblje restorana";
}

<h2 class="text-center mb-4">Osoblje restorana</h2>

<div class="row text-center">
    <div class="col-md-4">
        <img src="~/NewFolder/Gemini_Generated_Image_56hbq756hbq756hb.png" class="img-fluid rounded mb-2" alt="Chef" />
        <h5>Spinosaurus Chef</h5>
    </div>
    <div class="col-md-4">
        <img src="~/NewFolder/Gemini_Generated_Image_9wm3gj9wm3gj9wm3.png" class="img-fluid rounded mb-2" alt="Waiter" />
        <h5>Baryonyx Waiter</h5>
    </div>
    <div class="col-md-4">
        <img src="~/NewFolder/Gemini_Generated_Image_t2ljswt2ljswt2lj.png" class="img-fluid rounded mb-2" alt="Manager" />
        <h5>Managarm Manager</h5>
    </div>
</div>