html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    background-color: #f9c5d1; /* muzevno-roza */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/* podigne ceo sadržaj da se ne preklapa sa footerom */
body {
    padding-bottom: 80px; /* visina footera + malo više */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px; /* možeš i 50px, po potrebi */
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    z-index: 1030; /* da bude iznad ostalih elemenata */
    display: flex;
    align-items: center;
    justify-content: center;
}